#recipes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.recipe img{
height: 250px;
width: 150px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

#recipes {
    display: grid;
    grid-template-columns:repeat(3,1fr); /*repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 20px;
}

.recipe {
    background-color: #bddcef;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    border-left:  2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid black;
    align-items: center;
    text-align: center;
}

.recipe:hover {
    transform: translateY(-5px);
}

.recipe img {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recipe .details {
    padding: 20px;
}

.recipe h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.recipe button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3a173a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
}

.recipe button:hover {
    background-color: #000601;
}

#cart {
    background-color: #f6f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

#cart h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}
/* Existing CSS remains the same */

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #280824;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.cart {
    position: fixed;
    top: 0;
    left: 10px;

    background-color: #cef5f8;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Existing CSS remains the same */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 5, 24, 0.8);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    color: #f9f8f8;
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
/* Styling for the delete button */
.delete-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #320202;
}
