*
{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    background-color: rgba(237, 245, 245, 0);
      
    
    
}
#maincon
{
    padding-top:5px;
    margin-top: 50px;
    display:flex;
  flex-direction: row;
  position:static;
  height: fit-content;
  width: fit-content;
  
 
    
}
    

#main
{
    height:100%;
    width: 30vw;
    background-color:rgb(222, 232, 228);
    position:fixed;
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    margin-left: 40px;

    
   
}
#side{
    

    margin: auto;
    margin-left:37%;
    margin-top: 5px;


   
        
 
    
}
h1{
    
padding-left: 2px;
padding: 4px;


}
#side div{
   
    height:fit-content;
    width:fit-content;
    border: 1px solid black;
    background-color: rgba(230, 242, 245, 0.018);
    padding: 20px;
    padding-top: 20px;
   margin-bottom:20%;
   

       
    
  
}
a{
    text-decoration: none;
    color: rgb(71, 70, 5);
    font-size: large;
    
}
h2{
    color:brown;
}
h3{
    color:rgb(92, 17, 92);
}
p{
    line-height:2pc;
    font-size:large;
    text-wrap:wrap;
    font-style:inherit;
    font: bold;
}
pre{
    font-size:large;
    font-weight: 400;
}
@media (max-width:460)
 {
    #body{
        margin:2px;
        grid-template-columns:(auto);
    }
    #maincon{
margin:2px;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
margin-left:50px;
height: 100%;
width: 50vw;
    }
    #main{
    height: 200%;
    width: 200%;   
    position:static;
        }

#side div {
    height:100%;
    width: 30vw;
margin:1px;
margin-left: 1px;
display:flex;
flex-direction: column;
    
}
h1{
position:static

}
}
@media (max-width:360){
    #maincon{
        display: grid;
        grid-template-columns: (auto);
    }
    #main{
        width: fit-content;
        height: fit-content;
    }
}