*
{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    background-color: rgba(237, 245, 245, 0);
    padding-left: 10px;
    height: 50vh;
   
    
    
}
#maincon
{
    padding-top:5px;
    margin-right: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
 
    
}
header{
    background-color: rgb(208, 135, 101);
    height: 10vh;
    width: 100vw;
    position:fixed;
    top: 0;
    
}
#main
{
    height:100%;
    width: 25vw;
    background-color:rgb(222, 232, 228);
    border-top-right-radius: 2px solid black;
    position:fixed;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    
   
}
#side{
    

    margin: auto;
    margin-left:35%;
    margin-top: 10px;

   
   
        
 
    
}
h1{
    
padding-left: 2px;
padding: 4px;


}
#side div{
   
    height:100%;
    width: 66vw;
    border: 1px solid black;
    background-color: rgba(230, 242, 245, 0.018);
    padding: 20px;
    padding-top: 20px;
   margin-bottom:20%;
   display: flex;
  flex-direction: column;

       
    
  
}
a{
    text-decoration: none;
    color: rgb(71, 70, 5);
    font-size: large;
    
}
h2{
    color:brown;
}
h3{
    color:rgb(92, 17, 92);
}
p{
    line-height:2pc;
    font-size:large;
    text-wrap:wrap;
    font-style:inherit;
    font: bold;
}
pre{
    font-size:large;
    font-weight: 400;
}
@media (max-width:460)
 {
    #body{
        margin:2px;
        grid-template-columns:(auto);
    }
    #maincon{
margin:2px;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
margin-left:50px;
height: 100%;
width: 100vw;
    }
    #main{
    height: 200%;
    width: 140vw;
    margin-top:1px;
    display: flex;
    flex-direction: column;
    position:static;
        }

#side div {
    height:100%;
    width: 90vw;
margin:2px;
margin-left: 1px;
    
}
h1{
position:static

}
}
@media (max-width:360){
    #maincon{
        display: flex;
        flex-direction: column;
    }
}