*
{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    background-color: rgba(237, 245, 245, 0);
    
    
    
}
#maincon
{
    padding-top:5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns:auto auto;
  height:100%;
  width:100%;

 
    
}
    

#main
{
    height:100%;
    width: 30vw;
    background-color:rgb(222, 232, 228);
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    margin-left: 10px;
    position: fixed;
    scroll-behavior: smooth;
       
}
#side{
  width:63vw;
  height: 100vh;
    margin-top: 2px;
margin-left: 42%;
justify-content: left;
scroll-behavior: smooth;
}      
     
h1{
    
padding-left: 2px;
padding: 4px;
position: static;


}
#side div{
   
    height:fit-content;
    border: 1px solid black;
    background-color: rgba(230, 242, 245, 0.018);
    padding: 50px;
    padding-top: 20px;
   margin-bottom:4%;   
      
   

    
  
}
a{
    text-decoration: none;
    color: rgb(71, 70, 5);
    font-size: large;
    
}
h2{
    color:brown;
}
h3{
    color:rgb(92, 17, 92);
}
p{
    line-height:2pc;
    font-size:large;
    text-wrap:wrap;
    font-style:inherit;
    font: bold;
}
pre{
    font-size:large;
    font-weight: 400;
}
@media (max-width:412)
 {
 
    #main{
        
        height:100%;
        width: 30vw;
        background-color:rgb(222, 232, 228);
        text-align: center;
        padding: 10px;
        margin-top: 1px;
        margin-left: 30px;
        position: fixed;
        scroll-behavior: smooth;
           
    }
    #maincon{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding-top:5px;
        margin-top: 10px;
        display: grid;
        grid-template-columns:auto auto;
      height:100%;
      width:100vw;
    
        }

#side div {
    width:63vw;
    height: 100vh;
      margin-top: 2px;
  margin-left: 50vw;
  justify-content: left;
  scroll-behavior: smooth
}
h1{
position:static

}
}
@media (max-width:360){
    #maincon{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding-top:5px;
        margin-top: 10px;
        display: grid;
        grid-template-columns:auto auto;
      height:100%;
      width:100vw;

    }
    #main{
        height:200%;
        width:50vw;   
        position:static;
        margin-right: 5px;
            }
    #side{
        margin-left: 50px;
        justify-content: end;
        align-items: end;
        height: fit-content;
        will-change: 200vw;
        width: 100vw;
    }
    #side div {
        width:63vw;
        height: 100vh;
          margin-top: 2px;
      margin-left: 50vw;
      justify-content: left;
      scroll-behavior: smooth
    
    }
    h1{
    position:static
    
}
}